{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "login" %}
{% block title %}Simian CI - 登陆{% endblock %}

{% block page_content %}
    <h1 class="lead-title text-center text-lg-left">Welcome to Simian CI</h1>
    <p class="lead-subtitle text-center text-lg-left">Simian CI，为您提供最佳安全解决方案</p>
    </br>
    
    <div class="col-md-4" >
        {{ wtf.quick_form(form) }}
        <br>
        <p>忘记密码？ <a href="{{ url_for('auth.password_reset_request') }}">重置密码。</a></p>
        <p>没有账号？ <a href="{{ url_for('auth.register') }}">注册。</a></p>
    </div>
{% endblock %}

{% block page_content2 %}
    <h1 class="lead-title text-center text-lg-left">Welcome to Simian CI</h1>
    <p class="lead-subtitle text-center text-lg-left">Simian CI，为您提供最佳安全解决方案</p>
    </br>
    
    <div class="col-md-4" >
        {{ wtf.quick_form(form) }}
        <br>
        <p>忘记密码？ <a href="{{ url_for('auth.password_reset_request') }}">重置密码。</a></p>
        <p>没有账号？ <a href="{{ url_for('auth.register') }}">注册。</a></p>
    </div>
{% endblock %}