{% extends "base.html" %}
{% block title %}iManager - 帐号认证{% endblock %}
{% set active_page = "unconfirmed" %}

{% block page_content %}
<div class="container">
    <div class="page-header" style="margin-top: 120px;">
        <h1 class="white">你好, {{ current_user.username }}！</h1>
    </div>
    <h3>您尚未认证您的帐号。</h3>
    <p>
        在您浏览网页之前，您需要认证您的帐号。
        请确认您的邮箱，您应该已经收到了一份包含认证链接的邮件。</p>
    <p>
        没有收到认证邮件？
        <a href="{{ url_for('auth.resend_confirmation') }}">Click here</a>
    </p>
</div>
{% endblock %}
