{% extends "base.html" %}
{% block title %}Simian - 帐号认证{% endblock %}
{% set active_page = "unconfirmed" %}

{% block page_content %}
    <h1 class="lead-title text-center text-lg-left">你好, {{ current_user.username }}！</h1>
    <p class="lead-subtitle text-center text-lg-left">您尚未认证您的帐号。</p>
    </br>
    <p>
        在您浏览网页之前，您需要认证您的帐号。
        请确认您的邮箱，您应该已经收到了一份包含认证链接的邮件。</p>
    <p>
        没有收到认证邮件？
        <a href="{{ url_for('auth.resend_confirmation') }}">Click here</a>
    </p>
{% endblock %}

{% block page_content2 %}
    <h1 class="lead-title text-center text-lg-left">你好, {{ current_user.username }}！</h1>
    <p class="lead-subtitle text-center text-lg-left">您尚未认证您的帐号。</p>
    </br>
    <p>
        在您浏览网页之前，您需要认证您的帐号。
        请确认您的邮箱，您应该已经收到了一份包含认证链接的邮件。</p>
    <p>
        没有收到认证邮件？
        <a href="{{ url_for('auth.resend_confirmation') }}">Click here</a>
    </p>
{% endblock %}
