<ul class="posts">
    {% for item in items %}

    <li role="presentation">             
                事件ID：{{ item.id }}  丨
                名称：{{ item.item_id }} 丨
                内容：{{ item.item_name }} 丨
                添加时间： {{ item.registe_time }}</br>
                优先级： {{ item.angle_range }} 丨
                所有者ID：{{ item.owner_id }} 丨
                完成状态：{{ item.alarm_state }}
        <div class="post-footer">
            <a href="{{ url_for('imanager.edit_item', id=item.id) }}">
                <span class="label label-primary">编辑</span>
            </a>
            <a href="{{ url_for('imanager.delete', id=item.id) }}">
                <span class="label label-danger">删除</span>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>