{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}iManager - 物品清单{% endblock %}
{% block page_content %}
    <div id="hero" class="hero-section">

        <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel" data-interval="10000">

            <div class="figure-holder-wrapper">
        		<div class="container">
            		<div class="row">
                		<div class="figure-holder">
                	        <!-- <img class="figure-image img-responsive" src="/static/images/imac.png" alt="image" /> -->
                        </div><!--//figure-holder-->
            		</div><!--//row-->
        		</div><!--//container-->
    		</div><!--//figure-holder-wrapper-->

			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li class="active" data-slide-to="0" data-target="#hero-carousel"></li>
				<li data-slide-to="1" data-target="#hero-carousel"></li>
				<li data-slide-to="2" data-target="#hero-carousel"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">

				<div class="item item-1 active">
					<div class="item-content container">
    					<div class="item-content-inner">

				            <h2 class="heading"> 《动物世界》 <br class="hidden-xs">歌手：薛之谦</h2>
                            <br>
				            <p class="intro">东打一下西戳一下<br<br>>动物未必需要尖牙<br><br>示爱的方法有礼貌或是我管它<br><br>要将情人一口吞下<br><br>还要显得温文尔雅<br><br>螳螂委屈的展示旧伤疤</p>
				            <a class="btn btn-primary btn-cta" href="https://music.163.com/#/song?id=468517654" target="_blank">播放</a>

    					</div><!--//item-content-inner-->
					</div><!--//item-content-->
				</div><!--//item-->

				<div class="item item-2">
					<div class="item-content container">
						<div class="item-content-inner">

				            <h2 class="heading"> 《大雁》 <br class="hidden-xs">歌手：马頔</h2>
                            <br>
				            <p class="intro">栖客万重山摇地动 游者千呼唤难与共<br><br>归途万里生死相依 声势浩大孤掌难鸣<br><br>未曾涂炭愧对丛林 蝇营狗苟分崩离析<br><br>三千世界万象千愁 误上层楼解愁皆稠</p>
				            <a class="btn btn-primary btn-cta" href="https://music.163.com/#/song?id=465921227" target="_blank">播放</a>

    					</div><!--//item-content-inner-->
					</div>
				</div><!--//item-->

				<div class="item item-3">
					<div class="item-content container">
						<div class="item-content-inner">

				            <h2 class="heading"> 《小半》 <br class="hidden-xs">歌手：陈粒</h2>
				            <p class="intro">左顾右盼不自然的暗自喜欢<br><br>偷偷搭讪总没完地坐立难安<br><br>试探说晚安 多空泛又心酸<br><br>低头呢喃 对你的偏爱太过于明目张胆</p>
				            <a class="btn btn-primary btn-cta" href="https://music.163.com/#/song?id=421423806" target="_blank">播放</a>

    					</div><!--//item-content-inner-->
					</div>
				</div><!--//item-->
			</div><!--//carousel-inner-->

		</div><!--//carousel-->
    </div><!--//hero-->

    <div id="features" class="features-section">
        
        <div class="container text-center">
            <h2 class="section-title">{{ user.username }} 的物品</h2>
            <p class="intro">{% if user.name %}{{ user.name }}<br>{% endif %} {% if user.location %} 来自 <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a><br>{% endif %}</p>
            {% if user.about_me %}
            <p class="intro">{{ user.about_me }}</p>
            {% endif %}
            <p class="intro">用户注册时间： {{ moment(user.member_since).format('L') }}. <br> 最后一次登陆： {{ moment(user.last_seen).fromNow() }}.</p>
            <div class="tabbed-area row">
                <!-- Nav tabs -->
                <ul>
                    {% include 'imanager/_items.html' %}
                </ul>
            </div><!--//tabbed-area-->

        </div><!--//container-->
    </div><!--//features-->

{% endblock %}